@use 'variable' as var;

.full_page{
    display: flex;
    flex-flow: nowrap;
    align-self: center;
    gap: 40px;
    padding: 30px;
    button{
        background: var.$color-btn;
        color: var.$color-background;
        border-radius: 10px;
        border: none;
        width: 115px;
        align-self: flex-end;
        align-items: center;
        &:hover,
        &:hover a {
            background: var.$color-hover;
            color: var.$color-background;
        }
    }
    
    #cvEditor{
        background: var.$color-recruiter;
        font-size: var.$font-20;
        border-radius: 10px;
        padding: 20px;
        height: 50%;
        .profil{
            input{
                background: none;
                border: none;
            }
            .cvPhoneInput{
                #phone{
                    width: 85px;
                }
            }
        }
        h1{
            text-align: center;
            font-size: var.$font-24;
        }
        h2{
            text-align: center;
            font-size: var.$font-20;
        }
        #experienceBtn,#formationBtn,#langueBtn,#skillBtn,#hobbyBtn{
            color: var.$color-btn;  
            font-size: var.$font-20;
            cursor: pointer;
            &:hover,
            &:hover a {
                color: var.$color-hover;
            }
        }
        .singleExperience,.singleLangue,.singleSkill,.singleHobby,.singleFormation,.singleExperienceCv  {
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
          }
    }

    #cvVisualizer{
        border-radius: 10px;
        background: var.$color-recruiter;
        padding: 40px;
        height: 50%;
        .fullCv{
            background: var.$color-background;
            height: 100%;
            .cvLeft{
                padding: 20px;
                h2{
                    text-align: center;
                    font-size: var.$font-24;
                }
                .info-cv{
                    margin-block-end: 150px;;
                }
            }
            .pfpCv{
                width: 144px;
                height: 140px;
                margin-bottom: 25px;
            }
            .cvRight{
                align-self: flex-end;
                padding: 20px;
                border-left: 2px solid var.$color-separator;
                h2{
                    text-align: center;
                    font-size: var.$font-24;
                }
                
            }
        }
    }
}