@use 'variable' as var;


#contact{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
    padding: 60px;
    .wrap{
        .titre-contact{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-size: 48px;
            padding: 1rem;
            h2{
                text-align: center;
            }
            .separator{
                width: 115px;
                border-bottom: 1px solid var.$color-text;
            }
            @media (max-width: 375px){
                text-align: center;
            }
        }
        .info-contact{
            background-color: var.$color-primary;
            border-radius: 10px;
            padding: 1rem;
            &>*{
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: var.$font-24;
                padding: 1rem;
                transition: all .3s;
            }
            a{
                color: var.$color-text;
                &:hover{
                    color: var.$color-background;
                }
            }
        }
    }
}