@use 'variable' as var;

.full_page{
    display: flex;
    flex-flow: nowrap;
    align-self: center;
    gap: 40px;
    padding: 30px;
    @media (max-width: 880px){
        flex-flow: column nowrap;
        width: 100%;
    }
    
    
    #cvEditor{
        background: var.$color-connect;
        font-size: var.$font-20;
        border-radius: 10px;
        padding: 20px;
        width: 50%;
        @media (max-width: 880px){
            width: 90%;
            align-self: center;
            text-align: center;
        }
        .profil{
            input{
                width: 55%;
                border-radius: 5px;
                margin-bottom: 0.5rem;
                @media (max-width: 880px){
                    font-size: 10px;
                   width: auto;
                }
            }
            
            .cvTitleInput,.cvNomInput,.cvPrenomInput,.cvEmailInput,.cvPhoneInput,.cvAdresseInput,.cvPhotoInput{
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                @media (max-width: 400px){
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                }
            }
            ul{
                @media (max-width: 880px) {
                    display: flex;
                    flex-flow: wrap;
                    align-items: center;
                }
                @media (max-width: 392px){
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                }
            }
        }
        h1{
            text-align: center;
            font-size: var.$font-24;
            @media (max-width: 880px){
                font-size: 15px;
            }
        }
        h2{
            text-align: center;
            font-size: var.$font-20;
            @media (max-width: 880px){
                font-size: 15px;
            }
        }

        .experiences{
            #experienceBtn{  
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                width: 190px;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
                @media (max-width: 880px){
                    font-size: 15px;
                }
            }
            @media (max-width: 880px){
                display: flex;
                flex-flow: column;
                align-items: center;
            }
        }
        
        .formations{
            #formationBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                width: 190px;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
                @media (max-width: 880px){
                    font-size: 15px;
                }
            }
            @media (max-width: 880px){
                display: flex;
                flex-flow: column;
                align-items: center;
            }
        }
        
        .langues{
            #langueBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                width: 190px;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
                @media (max-width: 880px){
                    font-size: 15px;
                }
            }
            @media (max-width: 880px){
                display: flex;
                flex-flow: column;
                align-items: center;
            }
        }
        
        .skills{
            #skillBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                width: 270px;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
                @media (max-width: 400px){
                    width: 200px;
                }
            }
            @media (max-width: 880px){
                display: flex;
                flex-flow: column;
                align-items: center;
            }
        }
        
        .hobbies{
            #hobbyBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                width: 190px;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
                @media (max-width: 880px){
                    font-size: 15px;
                }
            }
            @media (max-width: 880px){
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
        }
        .saveBtn{
            font-size: var.$font-14;
            background: var.$color-cvautor-btn;
            color: var.$color-background;
            border-radius: 5px;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            &:hover,
            &:hover a {
                background: var.$color-cvautor-btn-hover;
                color: var.$color-background;
            }
            @media (max-width: 880px){
                font-size: 15px;
            }
            @media (max-width: 400px){
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 100%;
            }
        }
        
        .singleExperience {
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteExpBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
        .singleLangue{
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteLanBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
        .singleSkill{
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteSkillBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
        .singleHobby{
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteHobbyBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
        .singleFormation{
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteFormBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
        .singleExperienceCv{
            justify-content: space-between;
            padding: 5px;
            display: flex;
            flex-direction: column-reverse;
            @media (max-width: 880px){
                font-size: 15px;
                align-items: center;
            }
            .deleteExpBtn{
                font-size: var.$font-14;
                background: var.$color-cvautor-btn;
                color: var.$color-background;
                border-radius: 5px;
                border: none;
                padding: 0.5rem;
                width: 55%;
                cursor: pointer;
                &:hover,
                &:hover a {
                    background: var.$color-cvautor-btn-hover;
                    color: var.$color-background;
                }
            }
        }
    }

    #cvVisualizer{
        border-radius: 10px;
        background: var.$color-connect;
        padding: 10px;
        height: 50%;
        @media (max-width: 880px){
            width: 90%;
            align-self: center;
            padding: 10px;
        }
        @media (max-width: 400px){
            width: 95%;
            padding: 10px;
        }
        .fullCv{
            background: var.$color-background;
            @media (max-width: 550px){
                display: flex;
                flex-flow: column nowrap;
            }
            .cvLeft{
                padding: 20px;
                h2{
                    text-align: center;
                }
                .info-cv{
                    margin-block-end: 150px;;
                }
                .formations{
                    margin-top: 20%;
                }
            }
            .pfpCv{
                width: 144px;
                height: 140px;
                margin-bottom: 25px;
                @media (max-width: 880px){
                    width: 70px;
                    height: 70px;
                }
            }
            .cvRight{
                align-self: flex-end;
                border-left: 2px solid var.$color-separator;
                h2{
                    text-align: center;
                    font-size: var.$font-18;
                    @media (max-width: 0px){
                        font-size: 10px;
                    }
                }
                @media (max-width: 550px){
                    border: none;
                    padding: 20px;
                }
            }
        } 
    }
}