@use 'variable' as var;

#cookies{
    .wrap{
        padding: 1rem;
        #contenue{
            &>*{
                margin-top: 60px;
            }
        }
        h1{
            text-align: center;
            font-size: var.$font-24;
            gap: 1rem;
            @media (max-width: 900px){
                font-size: var.$font-20;
            }
        }
        h2{
            font-size: var.$font-24;
            font-weight: bold;
            @media (max-width: 900px){
                font-size: var.$font-24;
            }
        }
        @media (max-width: 900px) {
            text-align: center;
        }
    }
}