@use 'variable' as var;
.cvModale {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var.$color-recruiter;
  display: none;
  border: solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  .remove.icon {
    color: var.$color-btn;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    &:hover{
      color: var.$color-hover;
    }
  }
  .remove.icon:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .remove.icon:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #formationAdd,#langueAdd,#skillAdd,#hobbyAdd,#experienceAdd{
    cursor: pointer;
    color: var.$color-btn;
    background: var.$color-cvautor-btn;
    color: var.$color-background;
    font-size: var.$font-14;
    border-radius: 5px;
    width: 190px;
    margin-top: 1rem;
    padding: 0.5rem;
    &:hover{
      background: var.$color-cvautor-btn-hover;
      color: var.$color-background;
    }
  }
  .btn-add{
    margin-top: 1rem;
  }
}
.pfpCv {
  background: center / cover no-repeat;
  background-color: var.$color-connect;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
