@use 'variable' as var;
.cvModale {
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: var.$color-recruiter;
  display: none;
  border: solid;
  border-radius: 5px;
  #formationAdd,#langueAdd,#skillAdd,#hobbyAdd{
    cursor: pointer;
  }
}
.pfpCv {
  background: center / cover no-repeat;
  background-color: var.$color-connect;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.singleExperience,.singleExperienceCv  {
  justify-content: space-between;
}
