@use 'variable' as var;


    #footer{
        background: var.$color-primary;
        z-index: 1;
        .container_footer {
            width: min(1400px, 100%);
            margin-inline: auto;
            padding: 1rem 0.8rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-flow: row wrap;  
                h2 {
                    font-size: var.$font-20;
                    color: var.$color-text;
                    font-weight: 700;
                }   
            &> div{
                width: calc(100% / 4 - 3rem);
                display: flex;
                flex-flow: nowrap column;
                align-content:space-between;
                text-align: center;
                ul {
                    display: flex;
                flex-flow: nowrap column;
                    li {
                        transition: all .3s;
                        a {
                            color: var.$color-text;
                        }
                        &:hover a{
                            color: var.$color-hover;
                        }
                    }
                 }        
            }
            .box_footer_1 {
                align-items: center;
                li{
                    margin-top: .8rem;
               
                    a {
                        color: var.$color-background;
                        padding: 0.7rem;
                        background: var.$color-btn;
                        border-radius: 20px;
                        &:hover{
                            background: var.$color-hover;
                            color: var.$color-background;
                        }
                    }
                }
            }
        }
    }