@use 'variable';


    #footer{
        background: variable.$color-primary;
        .container_footer {
            width: min(1400px, 100%);
            padding: 1rem 0.8rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-flow: row nowrap;  
                h2 {
                    font-size: variable.$font-20;
                    color: variable.$color-text;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }   
            &> div{
                display: flex;
                flex-flow: nowrap column;
                align-content:space-between;
                ul {
                    li {
                        margin-bottom: 1rem;
                        transition: all .3s;
                        a {
                            color: variable.$color-text;
                        }
                        &:hover a{
                            color: variable.$color-hover;
                        }
                    }
                 }        
            }
            .box_footer_1 {
                align-items: center;
                    a {
                        color: variable.$color-background;
                        padding: 0.7rem;
                        background: variable.$color-btn;
                        border-radius: 20px;
                        &:hover{
                            background: variable.$color-hover;
                            color: variable.$color-background;
                        }
                    }
            }
        }
    }