@use 'variable';

#header {
    background: variable.$color-primary;
    .container_header {
        width: min(1400px, 100%);
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        padding: 1rem .6rem;

        .box_header_nav {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-flow: row nowrap;
                gap: .8rem;
                transition: all .3s;

                li {
                    cursor: pointer;

                    a {
                        color: variable.$color-btn;
                        font-size: variable.$font-16;
                        font-weight: 700;
                    }

                    &:hover,
                    &:hover a {
                        color: variable.$color-hover;
                    }
                }
            }

            .cta_button {
                background: variable.$color-btn;
                border-radius: 20px;
                padding: 0.7rem;
                a {
                    color: variable.$color-background;
                }
                &:hover,
                &:hover a {
                    background: variable.$color-hover;
                    color: variable.$color-background;
                }
            }
        }
    }
}