@use 'variable' as var;

#pdf-cv{
    background: var.$color-connect;
    border-radius: 10px;
    padding: 2rem;
    width: min(1350px, 98%);
    margin-inline: auto;
    #pdf-cv_model{
        background-color: var.$color-background;
        padding: 2rem;
       display: flex;
       flex-flow: column nowrap;
       gap: 1rem;
       #pdf-cv_info_box{
        display: flex;
        flex-flow: column nowrap;
        gap: .8rem;
        &>img{
             width: 200px;
            height: 200px;
            border-radius: 25px;
        }
       }
       
    }
    #pdf-cv_box{
        display: flex;
        flex-flow: row nowrap;
        @media (max-width: 750px) {
            flex-direction: column;
        }
        gap: 2rem;
        &>div{
            display: flex;
            flex-flow: column nowrap;
            gap: .8rem;
            width: calc(100% / 2 - 2rem);
            @media (max-width: 750px) {
                width: 100%;
            }
            align-items: center;
            &>div{
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                gap: .5rem;
            }
            h3{
                font-size: var.$font-20;
                font-weight: 700;
                text-align: center;
            }
        }

    }
}

#getPdf{
    width: fit-content;
    background: var.$color-cvautor-btn;
    color: var.$color-background;
    border-radius: 10px;
    border: none;
    padding: .5rem 1rem;
    margin: 1rem auto;
    cursor: pointer;
    &:hover,
    &:hover a {
        background: var.$color-cvautor-btn-hover;
        color: var.$color-background;

    }
}