@use 'variable' as var;

#pdf-cv{
    background: var.$color-secondary;
    border-radius: 10px;
    align-self: center;
    padding: 1rem;
    width: 90%;
    #pdf-cv_box{
        display: flex;
        flex-flow: column;
        gap: 1rem;
        h3{
            text-align: center;
            font-size: var.$font-24;
        }
        #pdf-cv_langue{
            ul{
                text-align: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                gap: 5%;
                @media (max-width: 530px){
                    flex-flow: column nowrap;
                    gap: 1rem;
                }
                p{
                    font-size: var.$font-18;
                }
                li{
                    background-color: darkgray;
                    border-radius: 10px;
                    width: 10%;
                }
            }
        }
        #pdf-cv_skill {
            ul{
                text-align: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                gap: 5%;
                @media (max-width: 400px){
                    flex-flow: column nowrap;
                    gap: 1rem;
                }
                p{
                    font-size: var.$font-18;
                }
                li{
                    background-color: darkgray;
                    border-radius: 10px;
                    width: 10%;
                }
            }
        }
        #pdf-cv_hobbie {
            ul{
                text-align: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                gap: 5%;
                @media (max-width: 550px){
                    flex-flow: column nowrap;
                    gap: 1rem;
                }
                p{
                    font-size: var.$font-18;
                }
                li{
                    background-color: darkgray;
                    border-radius: 10px;
                }
            }
        }
        #pdf-cv_exp_list {
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 5%;
            .pdf-cv_exp_box {
                h4{
                    font-size: var.$font-20;
                }
            }
            .pdf-cv_exp_box{
                background-color: darkgray;
                border-radius: 10px;
                h4{
                    font-size: var.$font-20;
                }
            }
            @media (max-width: 550px){
                flex-flow: column nowrap;
                gap: 1rem;
            }
            p{
                font-size: var.$font-18;
            }
            
        }
        #pdf-cv_studie_list{
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 5%;
            .pdf-cv_studie_box{
                background-color: darkgray;
                border-radius: 10px;
                h4{
                    font-size: var.$font-20;
                }
            }
            .pdf-cv_studie_box{
                h4{
                    font-size: var.$font-20;
                }
            }
            @media (max-width: 550px){
                flex-flow: column nowrap;
                gap: 1rem;
            }
            p{
                font-size: var.$font-18;
            }
        }
    }
}
#getPdf{
    align-self: center;
    background: var.$color-btn;
    color: var.$color-background;
    border-radius: 10px;
    border: 0;
    padding: 0.5rem 5rem;
    margin: 1rem;
    cursor: pointer;
    &:hover,
    &:hover a {
        background: var.$color-hover;
        color: var.$color-background;

    }
}