@use 'variable' as var;

@media (max-width: 810px) {
  #footer{
      .container_footer {
        display: flex;
        flex-flow: column nowrap;
          &> div{
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              ul {
                  li {
                      margin-bottom: 1rem;
                      transition: all .3s;
                      a {
                          color: var.$color-text;
                      }
                      &:hover a{
                          color: var.$color-hover;
                      }
                  }        
                }
            }
        }
    }
}