@use 'variable' as var;

@media (max-width: 810px) {
  #footer{
      .container_footer {
          &> div{
            width: calc(100% / 2 - 1rem);
              justify-content: center;
            }
        }
    }
}
@media (max-width: 500px) {
    #footer{
        .container_footer {
            &> div{
              width: 100%;
            }
        }
    }
}