@use 'variable';


.flex {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
body{
    background-color: variable.$color-background;
    font-family: variable.$font-roboto;
    #page{
      display: flex;
      flex-flow: column nowrap;
      min-height: 100vh;
    }
  }
  .wrap{
    width: min(1400px, 100%);
    margin-inline: auto;
  }
  
  //Main content
  #main {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 2rem 0;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: variable.$font-code;
}
