@use 'variable' as var;


.flex {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
body{
    background-color: var.$color-background;
    font-family: var.$font-roboto;
    #page{
      display: flex;
      flex-flow: column nowrap;
      min-height: 100vh;
    }
  }
  .wrap{
    width: min(1400px, 100%);
    margin-inline: auto;
  }
  
  //Main content
  #main {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 2rem 0;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: var.$font-code;
}

#header.candidate, #footer.candidate{
  background-color: var.$color-connect;
}
#header.rec, #footer.rec{
  background-color: var.$color-recruiter;
}